/SP.Core/.vs
[Dd]ebug/
[Rr]elease/
x64/
/sp_web/node_modules

/SP.Core/YMB.AuthenticationCenter/obj/Release
/SP.Core/YMB.AuthenticationCenter/obj/Debug
/SP.Core/YMB.AuthenticationCenter/bin/Release
/SP.Core/YMB.AuthenticationCenter/bin/Debug


/SP.Core/YMB.Infrastructure/obj/Release
/SP.Core/YMB.Infrastructure/obj/Debug
/SP.Core/YMB.Infrastructure/bin/Release
/SP.Core/YMB.Infrastructure/bin/Debug

/SP.Core/YMB.WebApi/obj/Release
/SP.Core/YMB.WebApi/obj/Debug
/SP.Core/YMB.WebApi/bin/Release
/SP.Core/YMB.WebApi/bin/Debug