/SP.Core/.vs
/SP.Core/SP.Core/obj/Debug
/SP.Core/SP.Core/bin/Debug
/SP.Core/SP.Infrastructure/bin/Debug
/SP.Core/SP.Infrastructure/obj/Debug
/SP.Core/SP.Models/bin/Debug
/SP.Core/SP.Models/obj/Debug
/SP.Core/SP.Repository/bin/Debug
/SP.Core/SP.Repository/obj/Debug
/SP.Core/Sp.Service/bin/Debug
/SP.Core/Sp.Service/obj/Debug
/SP.Core/Sp.UnitTest/bin/Debug
/SP.Core/Sp.UnitTest/obj/Debug
/SP.Core/Sp.Authentication/obj/Debug
/SP.Core/Sp.Authentication/bin/Debug
/SP_Web/node_modules
/SP_Web/sp/node_modules